!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Portforio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css", :rel => "stylesheet"}/

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"}
    
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "“anonymous”", :href => "“https://use.fontawesome.com/releases/v5.5.0/css/all.css”", :integrity => "“sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU”", :rel => "“stylesheet”"}/

  %body
    = yield
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"
